body .outer-container {
  font-family: 'Exo'; }

.header, .title-holder, .section3, .section3 .features-wrapper, .clients-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.title-holder .play-video-image {
  display: block;
  text-align: center; }

.header {
  background-image: url("../assets/header-background.png");
  width: 100%;
  height: 813px;
  background-size: cover; }

.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.title-holder {
  margin: auto;
  width: 65%; }
  .title-holder .title {
    color: #282828;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    line-height: 75px;
    letter-spacing: 2.4px; }
  .title-holder .play-video-image {
    background-image: url("../assets/Play_Video_Icon.png");
    z-index: 10;
    margin: 20px 0px;
    height: 59px;
    width: 59px; }
  .title-holder .try-now-button {
    /*@extend %header-common;*/
    display: flex;
    width: 190px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff6d6d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px; }
    .title-holder .try-now-button .button-text {
      padding: 0 0;
      margin: auto;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 75px;
      text-transform: uppercase;
      text-align: center; }

.kek {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.text-part {
  font-weight: 500;
  line-height: 50px;
  font-size: 16px;
  padding: 100px 100px; }
  .text-part .design {
    /* Style for "NEW DESIGN" */
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 3.2px; }
  .text-part .article-title {
    /* Style for "There is n" */
    color: #282828;
    font-size: 40px;
    /* Text style for "...." */ }
    .text-part .article-title .dots {
      color: #ff6d6d;
      letter-spacing: 1.6px; }
  .text-part .article-text {
    /* Style for "Aenean eu" */
    opacity: 0.66;
    color: #282828;
    line-height: 26px; }

.image-part {
  background-image: url("../assets/3-layers.png");
  min-height: 724px;
  width: auto;
  background-size: cover; }

.image-part-macboock {
  background-image: url("../assets/macboock.png");
  min-height: 500px;
  width: auto;
  background-size: cover; }

.section3 {
  line-height: 50px;
  font-weight: 500;
  color: #282828;
  background-image: url("../assets/section3-bg(1).png");
  min-height: 675px;
  width: 100%;
  background-size: cover; }
  .section3 .features-wrapper {
    padding: 0px 100px; }
    .section3 .features-wrapper .title-holder .minititle {
      /* Style for "NEW FEATUR" */
      color: #ff6d6d;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      margin: 0px; }
    .section3 .features-wrapper .title-holder .features-title {
      /* Style for "Some aweso" */
      font-size: 40px;
      letter-spacing: 1.6px; }
    .section3 .features-wrapper .features-holder {
      padding: 50px 0px;
      text-align: center; }
      .section3 .features-wrapper .features-holder .feature .subtitle {
        font-size: 22px;
        letter-spacing: 0.88px; }
      .section3 .features-wrapper .features-holder .feature .features-article {
        opacity: 0.66;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.64px; }

.image-holder {
  display: flex;
  justify-content: center; }

.clients-section {
  line-height: 50px;
  font-weight: 500;
  color: #ffff;
  text-align: center;
  background-image: url("../assets/clients-bg.png");
  min-height: 675px;
  width: 100%;
  background-size: cover; }

.founder-name {
  font-size: 22px;
  letter-spacing: 0.88px; }

.founder-job {
  color: #ff6d6d;
  font-size: 16px; }

.fouder-article {
  opacity: 0.66;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.64px; }

.sponsor-img {
  padding-right: 30px;
  padding-left: 30px;
  margin: 50px; }

@media screen and (max-width: 600px) {
  .image-part {
    display: none; }
  .text-part {
    padding: 30px 30px; } }

.play-video-image:hover > .overlay {
  background-color: #000;
  opacity: 0.5;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.try-now-button:hover {
  background-color: #e60000; }

/* Text style for "Try now" */
/*
letter-spacing: 3.2px;
  	}

  	
}

*/
